*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background: #313052;
}
.navegacion {
    width: 1000px;
    margin: 30px auto;
    background: rgb(231, 227, 227);
    text-align: center;
}
.navegacion ul{
    list-style: none;
}
.menu > li{
    position: relative;
    display: inline-block;
}
.menu > li > a{
    display: block;
    padding: 15px 20px;
    color:#353535;
    font-family: Impact;
    text-decoration: none;
    top:100%;
}

.menu li a:hover{
    color:#00ffff;
    transition: all .3s;
}

/* sub menu*/
.submenu{
    position: absolute;
    background: #333333;
    text-align: left;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s; 
}
.submenu li a{
    display: block;
    padding: 15px;
    color:#fff;
    font-family: arial;
    text-decoration: none;
}
.menu li:hover .submenu{
    visibility: visible;
    opacity: 1; 
}
