#contenedor{
    background-color:#8B0000;
    margin-left:1px;
    margin-right: 1px;
    margin-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
    }
    #cabecera{
    background-color: #DC143C;
    height:55%;
   
    margin: auto;
    padding:2%;
    }
    #menup{
    height:5%; 
    
    }
    #izquierda{
    height:75%;
    padding: 10px;
    background-color: #119c54;
   /* float: left;*/

    width: 90%;
    overflow: auto;
    }

    #izquierda .cuadro1{
        width: 300px;
        height: 300px;
        margin: 3px;
        float: left;
        width: 20%;
        background-color: #ffffff;
    }
    #izquierda .cuadro2{
        width: 300px;
        height: 300px;
        margin: 3px;
        float: left;
        width: 20%;
        background-color: #ffffff;
    }
    #izquierda .cuadro3{
        width: 300px;
        height: 300px;
        margin: 3px;
        float: left;
        width: 20%;
        background-color: #ffffff;
    }
    #izquierda .cuadro4{
        width: 300px;
        height: 300px;
        margin: 3px;
        float: left;
        width: 20%;
        background-color: #ffffff;
    }
    
  /*  #derecha{
    height:60%;
    padding: 10px;
    margin:auto;
    background-color:#f66d14;
    float: right;
    width: 18%;
    font-family: Cooper Std Black;
    font-size: 35px;
    text-align: center;
    color:#c5e31e;
    overflow: auto;
    }*/
    
    #pie{
    background-color: #c8a026;
    height:30%;
    font-family: Aharoni;
    font-size: 15px;
    clear:both;
    padding: 3%;
  
    }